@charset "UTF-8";
/*------------------------------------------------------------------------------------
  01_settings
------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../font/Proxima-Nova-Light.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Light.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Light.woff") format("woff"), url("../font/Proxima-Nova-Light.ttf") format("truetype"), url("../font/Proxima-Nova-Light.svg#da6ddaf3cf69afbba47bd74b5010b98d") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url("../font/Proxima-Nova-Light-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Light-Italic.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Light-Italic.woff") format("woff"), url("../font/Proxima-Nova-Light-Italic.ttf") format("truetype"), url("../font/Proxima-Nova-Light-Italic.svg#1a04ccc617b24808e8115891ca97cce8") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 200; }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../font/Proxima-Nova-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Regular.woff") format("woff"), url("../font/Proxima-Nova-Regular.ttf") format("truetype"), url("../font/Proxima-Nova-Regular.svg#2c1459d58560f08b4b0586fbe80aa4cd") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url("../font/Proxima-Nova-Regular-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Regular-Italic.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Regular-Italic.woff") format("woff"), url("../font/Proxima-Nova-Regular-Italic.ttf") format("truetype"), url("../font/Proxima-Nova-Regular-Italic.svg#77f1c682604b6b0472d490a8e6c22d18") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../font/Proxima-Nova-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Semibold.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Semibold.woff") format("woff"), url("../font/Proxima-Nova-Semibold.ttf") format("truetype"), url("../font/Proxima-Nova-Semibold.svg#67a6c9f6d7dc8f35ecb08de766ea56f0") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'ProximaNova-SemiboldIt';
  src: url("../font/Proxima-Nova-Semibold-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Semibold-Italic.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Semibold-Italic.woff") format("woff"), url("../font/Proxima-Nova-Semibold-Italic.ttf") format("truetype"), url("../font/Proxima-Nova-Semibold-Italic.svg#507561f3ade737ab57270dba6021e34c") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../font/Proxima-Nova-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Bold.woff") format("woff"), url("../font/Proxima-Nova-Bold.ttf") format("truetype"), url("../font/Proxima-Nova-Bold.svg#d1e00a8fb1fd9b428ab6b90409479fde") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'ProximaNova-BoldIt';
  src: url("../font/Proxima-Nova-Bold-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Bold-Italic.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Bold-Italic.woff") format("woff"), url("../font/Proxima-Nova-Bold-Italic.ttf") format("truetype"), url("../font/Proxima-Nova-Bold-Italic.svg#79a8a351bd63dc8113108df914d9fe32") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url("../font/Proxima-Nova-Extrabold.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Extrabold.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Extrabold.woff") format("woff"), url("../font/Proxima-Nova-Extrabold.ttf") format("truetype"), url("../font/Proxima-Nova-Extrabold.svg#131ef5652291f8dc4bd914210809df02") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'ProximaNova-ExtrabldIt';
  src: url("../font/Proxima-Nova-Extrabold-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../font/Proxima-Nova-Extrabold-Italic.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Extrabold-Italic.woff") format("woff"), url("../font/Proxima-Nova-Extrabold-Italic.ttf") format("truetype"), url("../font/Proxima-Nova-Extrabold-Italic.svg#67dcac7bd45382a60d50a92d2067bcdd") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 700; }

/*------------------------------------------------------------------------------------
  BREAKPOINTS
------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
  CONTAINER
------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
  GRID, GUTTER
------------------------------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none; }

html, body {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 100%;
  line-height: 1.2;
  letter-spacing: normal;
  background-color: #ffc107;
  color: #1C1C1C; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0; }
  ul > li {
    font-size: 1rem; }

a.btn {
  text-decoration: none; }

hr {
  border-color: #E3E3E3;
  opacity: .3; }

main {
  position: relative; }

/*------------------------------------------------------------------------------------
  00_vendor
------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
  02_tools
------------------------------------------------------------------------------------*/
.hidden {
  position: absolute;
  pointer-events: none;
  opacity: 0; }

.svg-arrow-icon, .svg-award-best-sms, .svg-chatapps-icon, .svg-email-icon, .svg-emerging-icon, .svg-gsma-logo-bw, .svg-handheart-icon, .svg-integrate-icon, .svg-iso-logo, .svg-location-pin-icon, .svg-mef-logo, .svg-mma-logo, .svg-omni-icon, .svg-pci-logo, .svg-push-icon, .svg-rcs-icon, .svg-reporting-icon, .svg-sms-icon, .svg-uber-logo, .svg-voice-icon, .svg-workflows-icon {
  background: url("../media/sprite/sprite.svg") no-repeat; }

.svg-arrow-icon {
  background-position: 14.970059880239521% 98.76160990712074%; }

.svg-arrow-icon-dims {
  width: 45px;
  height: 46px; }

.svg-award-best-sms {
  background-position: 0 50.370370370370374%; }

.svg-award-best-sms-dims {
  width: 82px;
  height: 99px; }

.svg-chatapps-icon {
  background-position: 96.65653495440729% 73.66771159874608%; }

.svg-chatapps-icon-dims {
  width: 50px;
  height: 50px; }

.svg-email-icon {
  background-position: 66.26139817629179% 73.66771159874608%; }

.svg-email-icon-dims {
  width: 50px;
  height: 50px; }

.svg-emerging-icon {
  background-position: 100% 0; }

.svg-emerging-icon-dims {
  width: 84px;
  height: 84px; }

.svg-gsma-logo-bw {
  background-position: 26.03174603174603% 50.18450184501845%; }

.svg-gsma-logo-bw-dims {
  width: 64px;
  height: 98px; }

.svg-handheart-icon {
  background-position: 88.05970149253731% 52.996845425867505%; }

.svg-handheart-icon-dims {
  width: 44px;
  height: 52px; }

.svg-integrate-icon {
  background-position: 28.47457627118644% 82.45614035087719%; }

.svg-integrate-icon-dims {
  width: 84px;
  height: 84px; }

.svg-iso-logo {
  background-position: 64.70588235294117% 0; }

.svg-iso-logo-dims {
  width: 141px;
  height: 66px; }

.svg-location-pin-icon {
  background-position: 98.83381924198251% 52.66457680250784%; }

.svg-location-pin-icon-dims {
  width: 36px;
  height: 50px; }

.svg-mef-logo {
  background-position: 0 10.410094637223974%; }

.svg-mef-logo-dims {
  width: 151px;
  height: 52px; }

.svg-mma-logo {
  background-position: 0 26.729559748427672%; }

.svg-mma-logo-dims {
  width: 147px;
  height: 51px; }

.svg-omni-icon {
  background-position: 49.65986394557823% 47.719298245614034%; }

.svg-omni-icon-dims {
  width: 85px;
  height: 84px; }

.svg-pci-logo {
  background-position: 56.2043795620438% 21.29032258064516%; }

.svg-pci-logo-dims {
  width: 105px;
  height: 59px; }

.svg-push-icon {
  background-position: 70.2127659574468% 42.63322884012539%; }

.svg-push-icon-dims {
  width: 50px;
  height: 50px; }

.svg-rcs-icon {
  background-position: 51.06382978723404% 73.66771159874608%; }

.svg-rcs-icon-dims {
  width: 50px;
  height: 50px; }

.svg-reporting-icon {
  background-position: 0 82.45614035087719%; }

.svg-reporting-icon-dims {
  width: 84px;
  height: 84px; }

.svg-sms-icon {
  background-position: 81.45896656534954% 73.66771159874608%; }

.svg-sms-icon-dims {
  width: 50px;
  height: 50px; }

.svg-uber-logo {
  background-position: 0 0; }

.svg-uber-logo-dims {
  width: 154px;
  height: 33px; }

.svg-voice-icon {
  background-position: 0 100%; }

.svg-voice-icon-dims {
  width: 50px;
  height: 50px; }

.svg-workflows-icon {
  background-position: 100% 29.473684210526315%; }

.svg-workflows-icon-dims {
  width: 84px;
  height: 84px; }

.link:hover, .link-underline {
  text-decoration: underline; }

/*------------------------------------------------------------------------------------
  03_components
------------------------------------------------------------------------------------*/
.btn {
  transition: all 175ms ease-in-out;
  display: inline-flex;
  justify-content: center;
  border-radius: 4px;
  padding: 0.6875rem 1rem;
  font-size: 18px;
  font-family: "ProximaNova-Bold", sans-serif;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  -webkit-touch-callout: none;
  box-shadow: 0 6px 8px 2px rgba(205, 205, 205, 0.5); }
  .btn, .btn:focus {
    outline: 0;
    box-shadow: none; }
  @media print {
    .btn {
      display: none; } }
  @media only screen and (max-width: 599px) {
    .btn {
      width: 100%; } }
  .btn-primary {
    background-color: #F5BC47;
    color: #ffffff;
    border-width: 0;
    border-style: solid;
    border-color: #ffffff; }
    .btn-primary:hover {
      background-color: #f2aa17;
      color: #ffffff;
      border-color: #e6e6e6; }

button.btn:hover {
  cursor: pointer; }

.form-group {
  position: relative;
  margin-bottom: 1.375rem; }

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: #CFD0D0;
  color: #2D2D2D;
  line-height: 1.4;
  font-size: 1rem;
  font-family: "ProximaNova-Regular", sans-serif;
  background-color: #ffffff;
  background-image: none;
  background-clip: padding-box; }
  .form-control:hover, .form-control:focus {
    border-color: #a8aaaa; }
  .form-control:disabled {
    cursor: not-allowed; }
  .has-feedback.has-error .form-control {
    border-color: #D0021B; }

.form-label {
  display: block;
  margin-bottom: 0.25rem;
  color: #2D2D2D;
  font-size: 0.9375rem;
  font-family: "ProximaNova-Semibold", sans-serif; }

.icon {
  display: inline-block; }

.img {
  display: block;
  width: 100%; }
  .img.furešta {
    width: 100vw;
    height: 100vh; }
    @media only screen and (max-width: 799px) {
      .img.furešta {
        object-fit: cover; } }
  .img.marmun {
    border-radius: 50%; }

.link {
  display: inline-block;
  color: inherit;
  text-decoration: none; }
  .link.blob {
    display: block;
    position: absolute;
    top: 37%;
    left: 20%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    background-size: 500% 100%;
    animation: blobber 30s 0s linear infinite, cobler 30s 0s linear infinite alternate; }
    .link.blob:hover {
      animation-play-state: paused; }
    .link.blob:after {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      mix-blend-mode: multiply;
      animation: blobber 30s 0s ease-in-out infinite, wobbler 15s 0s linear infinite alternate; }

@keyframes blobber {
  0% {
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%; }
  5% {
    border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%; }
  10% {
    border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%; }
  15% {
    border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%; }
  20% {
    border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%; }
  25% {
    border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%; }
  30% {
    border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%; }
  35% {
    border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%; }
  40% {
    border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%; }
  45% {
    border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%; }
  50% {
    border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%; }
  55% {
    border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%; }
  60% {
    border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%; }
  65% {
    border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%; }
  70% {
    border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%; }
  75% {
    border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%; }
  80% {
    border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%; }
  85% {
    border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%; }
  90% {
    border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%; }
  95% {
    border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%; }
  100% {
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%; } }

@keyframes cobler {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: 100% 0%; } }

@keyframes wobbler {
  0% {
    transform: rotateZ(8deg); }
  100% {
    transform: rotateZ(-8deg); } }

.ttl {
  margin: 0; }
  .ttl-h1 {
    font-size: 3.375rem; }
  .ttl-h2 {
    font-size: 2rem; }
    @media only screen and (max-width: 599px) {
      .ttl-h2 {
        font-size: 1.5625rem; } }
  .ttl-h4 {
    font-size: 1.125rem;
    font-family: "ProximaNova-Extrabld", sans-serif;
    line-height: 24px; }

/*------------------------------------------------------------------------------------
  04_objects
------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
  05_trumps
------------------------------------------------------------------------------------*/
.color-white {
  color: #ffffff; }

.out {
  margin-right: -15px;
  margin-left: -15px; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.f-16 {
  font-size: 1rem; }

.f-20 {
  font-size: 1.25rem; }

.f-26 {
  font-size: 1.625rem; }

.color-prim {
  color: #F5BC47; }
